<div class="custom-tabs__navigation" role="tablist">
  {%- assign tabs = section.blocks | where: "type", "tab" -%}
  {%- for tab in tabs -%}
    <button
      id="tab-{{ tab.settings.tab_id }}-trigger"
      class="custom-tabs__tab-button{% if forloop.first %} is-active{% endif %}"
      role="tab"
      aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
      aria-controls="tab-{{ tab.settings.tab_id }}-content"
      data-tab-trigger
    >
      {{ tab.settings.title }}
    </button>
  {%- endfor -%}
</div>

