{%- for i in (1..4) -%}
  {%- capture image_key -%}image_{{ i }}{%- endcapture -%}
  {%- assign image = block.settings[image_key] -%}
  {%- if image != blank -%}
    <div class="custom-tabs__content-block">
      {{ image | image_url: width: 800 | image_tag:
        width: image.width,
        height: image.height,
        class: 'custom-tabs__image',
        alt: image.alt | escape
      }}
    </div>
  {%- endif -%}
{%- endfor -%}

